*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 微软雅黑, Arial;
  font-size: 14px;
  color: #333;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.w{
  width: 1200px;
  margin: auto;
}
a{
  text-decoration: none;
  color: #222;
}