/* 最上边的导航条 */
.header-wrapper{
  background-color: rgb(243,243,243);
  width: 100%;
  height: 40px;
}
.header-wrapper>.top-wrapper{
  /* background-color: rgb(243,243,243); */
  line-height: 40px;
}
.top-l{
  float: left;
  width: 300px;
  display: flex;
  justify-content: space-around;
}
.top-l a{
  text-decoration: none;
  color: rgb(237,71,6);
}
.top-r{
  float: right;
}
.top-r ul{
  width: 335px;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.top-r ul li:first-child span{
  color: rgb(237,71,6);
}
.top-r ul li a{
  text-decoration: none;
  color: rgb(51,51,51);
}
.top-r>ul>li:last-child{
  position: relative;
}
.top-r>ul>li:last-child>div{
  display: none;
  flex-direction: column ;
  position: absolute;
  width: 345px;
  height: 342px;
  right: 0;
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 10;
}
/* 工具条 */
.top-logo-wrapper{
  padding: 20px 0;
}
.top-logo-wrapper>.logo-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
}
.top-logo-wrapper>.logo-wrapper>a{
  display: block;
}
.top-logo-wrapper>.logo-wrapper>a>img{
  vertical-align: bottom;
}
.top-logo-wrapper>.logo-wrapper>div>.inp{
  border: 1px solid rgb(237,20,117) ;
  width: 418px;
  height: 38px;
}
.top-logo-wrapper>.logo-wrapper>div>.shop-btn{
  width: 80px;
  height: 40px;
  outline: 0;
  border: 0;
  background-color: rgb(237,20,117);
  font-size: 16px;
  color: #fff;
  vertical-align: bottom;
}
.search-txt{
  /* display: none; */
  color: rgb(227,25,57);
}
.search-txt>span{
  /* margin-right: 10px; */
  padding: 13px;
}
.search-txt>:nth-child(2){
  color: rgb(51,51,51);
}
.search-shop {
color: #fff;
background-color: #ed1475;
/* background-color: #FFFFFF; */
width: 120px;
display: flex;
justify-content: center;
}
.search-shop i{
  margin-top: 10px;
  font-size:18px;
}
.search-shop>p{
  padding: 7px;
  font-size: 18px;
}
/* 让整个搜索框的div固定在最顶部 */
.search-div{
  position: fixed !important;
  top: -20px;
  width: 100%;
  box-shadow: 0 1px 6px 0 #ccc;
  transition: all 0.5s ease;
  z-index: 999;
  height: auto !important;
  background-color: #fff;
  
}
/* nav */
.nav-wrapper>.nav-ul{
  width: 1200px;
  margin: auto;
}
.nav-ul>ul{
  width: 460px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav-ul{
  float: right;
}
