/* 最上边的导航条 */

.header-wrapper{
  background-color: rgb(243,243,243);
  width: 100%;
  height: 40px;
}
.header-wrapper>.top-wrapper{
  line-height: 40px;

}
.top-l{
  float: left;
  width: 300px;
  display: flex;
  justify-content: space-around;
}
.top-l a{
  text-decoration: none;
  color: rgb(237,71,6);
}
.top-r{
  float: right;  
}
.top-r ul{
  width: 335px;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.top-r ul li:first-child span{
  color: rgb(237,71,6);
}
.top-r ul li a{
  text-decoration: none;
  color: rgb(51,51,51);
}
.top-r>ul>li:last-child{
  position: relative;
}
.top-r>ul>li:last-child>div{
  display: none;
  flex-direction: column ;
  position: absolute;
  width: 345px;
  height: 342px;
  right: 0;
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 10;
}
/* 工具条 */
.top-logo-wrapper{
  padding: 20px 0;
}
.top-logo-wrapper>.logo-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
}
.top-logo-wrapper>.logo-wrapper>a{
  display: block;
}
.top-logo-wrapper>.logo-wrapper>a>img{
  vertical-align: bottom;
}
.top-logo-wrapper>.logo-wrapper>div>.inp{
  border: 1px solid rgb(237,20,117) ;
  width: 418px;
  height: 38px;
}
.top-logo-wrapper>.logo-wrapper>div>.shop-btn{
  width: 80px;
  height: 40px;
  outline: 0;
  border: 0;
  background-color: rgb(237,20,117);
  font-size: 16px;
  color: #fff;
  vertical-align: bottom;
}
.search-txt{
  /* display: none; */
  color: rgb(227,25,57);
}
.search-txt>span{
  /* margin-right: 10px; */
  padding: 13px;
}
.search-txt>:nth-child(2){
  color: rgb(51,51,51);
}
.search-shop {
color: #fff;
background-color: #ed1475;
/* background-color: #FFFFFF; */
width: 120px;
display: flex;
justify-content: center;
}
.search-shop i{
  margin-top: 10px;
  font-size:18px;
}
.search-shop>p{
  padding: 7px;
  font-size: 18px;
}
/* 让整个搜索框的div固定在最顶部 */
.search-div{
  position: fixed !important;
  top: -20px;
  width: 100%;
  box-shadow: 0 1px 6px 0 #ccc;
  z-index: 999;
  background-color: #fff;
  animation: search 0.3s linear;
  
}
@keyframes search{
  0%{padding: 20px 0;}
  100%{padding:10px 0;}
}
/* nav */
.nav-wrapper{
  width: 100%;
  height: 45px;
  /* position: relative; */
  margin-top: 126px;
  background-color: rgb(245,245,245);
}
.nav-wrapper>.nav-ul{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
.nav-wrapper>.nav-ul>ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 450px;
  padding: 10px;
  font-size: 16px;
}
.nav-wrapper>.nav-ul>ul a{
  text-decoration: none;
  color: #222;
}
.nav-wrapper>.nav-ul>span{
  font-size: 25px;
  color: #ed1475;
  font-weight: 800 ;
  align-self: center;
}
/* 图片区域 */
.ban-img{
  width: 1349px;
}
.ban-img img{
  max-width: 100%;
}
.content-wrapper{
  background-color: rgb(242,242,242);
  margin-top: -4px;
}

.ico{
  background: url(../images/ico.png)no-repeat 0px 0px;
    display: inline-block;
    vertical-align:bottom;
}
.ico.core{
  width: 25px;
    height: 25px;
    background-position: -137px -3px;
    margin: 0 5px 0 0
}
.conTxt-wrapper{
  padding-top: 40px;
}
.conTxt>i,.conTxt>h2{
  float: left;
  display: inline-block;
}
.conData-wra-wrapper{
  padding-top: 20px;
  margin: 0 auto;
  width: 1200px;
  overflow: hidden;
}
.conData-wrapper{
 width: 3600px;
}
/* 为了让div——banner移动 */
.conData-wrapper>:first-child{
  /* margin-left: -1200px; */
}

.conData{
  float: left;
  transition: all 0.5s linear;
}
.conData>ul{
  list-style: none;
}
.conData>ul>li{
  background-color: #fff;
  float: left;
  width: 239px;
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  margin: 0 0 0 21px;
  position: relative;
  height: 297px;
}
.conData>ul>li>.imgbox{
  width: 220px;
  height: 220px;
  overflow: hidden;
  display: block;
  margin: auto;
}
.contData-img>p{
  text-align: center;
  margin-top: 10px;
}
.contData-img>span{
  font-size: 18px;
  display: inline-block;
  width: 239px;
  text-align: center;
  color: #ed1475;
  margin-top: 10px;
}
.imgbox>img{
  display: block;
  max-width: 100%;
  width: 100%;
}
.contData-img>div{
  display: none;
  position: absolute;
  width: 279px;
  height: 337px;
  top: 0;
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
}
.contData-img>div>p{
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-top: 150px;
}
.contData-img>div>a{
  text-decoration: none;
  display: block;
  width: 50%;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  text-align: center;
  background-color: #ed1475;
  color: #fff;
  margin: 20px  auto 0;
}

/* 切换按钮 */
.conData-btn-wrapper{
  position: relative;
  height: 50px;
}
.conData-btn{
  list-style: none;
  position: absolute;
  top: 10px;
  left: 50%;
}
.conData-btn>li{
  float: left;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  margin: 0 5px;
  background-color: #ddd;

}
.conData-btn>li.active{
  background-color: #ed1475;
}
/* .conData-btn>li:hover{
  background-color: #ed1475;
} */